@use 'index' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color-scheme: light;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */
.full-page {
  min-height: calc(100vh - $header-hight);
  @include respond('xs') {
    min-height: calc(100vh - $header-hight-mobile);
  }
}

.error-text {
  font-size: 12px;
}

// snackbar
.mat-snackbar-panel-custom {
  font-size: 14px;
  font-weight: $font-weight-medium;
  display: flex;
  align-items: center;
}

.mode-success {
  background-color: $success-green;
}
.mode-error {
  background-color: $red;
}

.mode-info {
  background-color: $black-hover;
}

.color-white {
  color: #fff;
}
.text-center {
  justify-content: center;
}

.NgxEditor__Content {
  all: revert;
  font-family: 'Poppins', sans-serif;

  ul,
  ol {
    padding-inline-start: 20px;
  }
}

.NgxEditor__Content {
  border: none;
  outline: none;
  min-height: 200px !important;
}
