<div class="signup full-page">
  <div class="signup__wrapper">
    <mat-stepper [linear]="true" #stepper>
      <!-- user data  -->
      <mat-step>
        <form [formGroup]="signupForm" class="signup__form" (ngSubmit)="onSignupFormSubmit()">
          <div class="head">
            <h2>Signup</h2>
          </div>
          <div class="form-controls">
            <div class="name-fields">
              <mat-form-field [appearance]="'outline'">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" />
                <mat-error>{{ getSignupFormError('firstName') }}</mat-error>
              </mat-form-field>

              <mat-form-field [appearance]="'outline'">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" />
                <mat-error>{{ getSignupFormError('lastName') }}</mat-error>
              </mat-form-field>
            </div>

            <mat-form-field [appearance]="'outline'">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
              <mat-error>{{ getSignupFormError('email') }}</mat-error>
            </mat-form-field>

            <section formGroupName="passwords" class="passwords">
              <mat-form-field [appearance]="'outline'">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  formControlName="password"
                  [type]="hidePassword() ? 'password' : 'text'"
                />
                <mat-icon matSuffix (click)="hidePassword.set(!hidePassword())">{{
                  hidePassword() ? 'visibility_off' : 'visibility'
                }}</mat-icon>

                <mat-error>{{ getPasswordErrors('password') }}</mat-error>
              </mat-form-field>
              <mat-form-field [appearance]="'outline'">
                <mat-label>Confirm Password</mat-label>
                <input
                  matInput
                  formControlName="confirmPassword"
                  [type]="hideConfirmPassword() ? 'password' : 'text'"
                />
                <mat-icon matSuffix (click)="hideConfirmPassword.set(!hideConfirmPassword())">{{
                  hideConfirmPassword() ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              </mat-form-field>
              @if (passwordMatchError()) {
                <mat-error class="error-text" style="margin-top: -30px">{{
                  passwordMatchError()
                }}</mat-error>
              }
            </section>
          </div>
          <div class="actions">
            <app-loading-button
              text="Varify"
              type="submit"
              size="large"
              [disabled]="isSignupLoading()"
              [isLoading]="isSignupLoading"
            ></app-loading-button>
          </div>
        </form>

        <div class="signup__extras">
          <p>Have an account? <a (click)="navigateLogin()">Login</a></p>
        </div>
      </mat-step>

      <!-- otp  -->
      <mat-step>
        <form [formGroup]="otpForm" class="signup__form" (ngSubmit)="onOtpFormSubmit()">
          <div class="head">
            <h3>Verify Your Email</h3>
            <p>We have send a 4 digit OTP to your email address</p>
          </div>

          <mat-form-field [appearance]="'outline'">
            <mat-label>OTP</mat-label>
            <input matInput required type="number" formControlName="otp" />
            <mat-error>{{ getOtpError() }}</mat-error>
          </mat-form-field>

          <div class="resend">
            @if (timeLeft() > 0) {
              {{ timeLeft() }} seconds left
            } @else {
              <app-loading-button
                (clickEvent)="resend()"
                text="Resend"
                size="small"
                [disabled]="timeLeft() > 0"
                [isLoading]="isOtpResendLoading"
              ></app-loading-button>
            }
          </div>
          <div class="actions actions--double">
            <app-loading-button
              (clickEvent)="stepBack()"
              text="Back"
              variant="secondary"
              size="large"
            ></app-loading-button>
            <app-loading-button
              matStepperNext
              text="Verify"
              size="large"
              type="submit"
            ></app-loading-button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
</div>
